.Center {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ButtonUnderline {
  > span {
    text-decoration: underline;
  }
}

.Title {
  font-size: 10vmin;
  font-weight: 900;
  line-height: 1em;
  margin: unset;
  padding: unset;
}

.Subtitle {
  font-size: 4vmin;
  font-weight: 600;
  line-height: 1em;
  margin: unset;
  padding: unset;
}